.input_phone {
	width: 100%;
	max-width: 100%;
	height: auto;
	position: relative;
	border-radius: 10px;
	background: var(--white);
	transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	display: flex;
}

.input_phone:hover,
.input_phone:focus,
.input_phone:focus-within,
.input_phone:active {
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.input_phone__label {
	font-family: var(--font-text);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
	color: var(--gray-dark);
	padding: 0px 8px;
	display: inline-block;
}

.input_phone__label + .input_phone {
	margin-top: 5px;
}

.input_phone__field {
	width: 100%;
	max-width: 100%;
	height: 45px;
	position: relative;
	font-family: var(--font-text);
	font-size: 15px;
	font-weight: 400;
	color: var(--gray-init);
	border-radius: 10px;
	background: transparent;
	padding: 5px 20px;
	outline: none;
	transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	display: table-cell;
	order: 2;
}

.input_phone__field::placeholder {
	color: var(--gray-silver-chalice);
}

.input_phone__addon {
	display: flex;
	justify-content: center;
	align-items: center;
	border-collapse: separate;
	position: relative;
	top: 0px;
	float: left;
	left: 0px;
	padding: 6px 12px;
	height: 45px;
	font-family: var(--font-text);
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: var(--black);
	text-align: center;
	background-color: rgba(0,0,0,.02);
	white-space: nowrap;
	vertical-align: middle;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	cursor: pointer;
	transition: all 500ms ease-in-out;
}

.input_phone__addon___special {
	border-right: 2px solid var(--secondary);
}

.input_phone__addon:hover {
	background-color: rgba(0,0,0,.05);
}

.input_phone__flag {
	width: 18px;
	height: 18px;
	background: #dbdbdb;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	border-radius: 5px;
	position: relative;
	margin-right: 10px;
}

.input_phone__flag___item {
	margin-right: 10px;
}

.input_phone__flag___item::after {
	display: none;
}

/* ---- Size Input ---- */

.input_phone.sm {
	width: 100%;
	max-width: 240px;
}

.input_phone.md {
	width: 100%;
	max-width: 400px;
}

.input_phone.lg {
	width: 100%;
	max-width: 600px;
}

.input_phone.xl {
	width: 100%;
	max-width: 800px;
}

.input_phone.auto {
	width: 100%;
	max-width: 100%;
}

/* ---- responsive ---- */

@media screen and (max-width: 990px) {
	.input_phone__label {
		font-size: 14px;
	}

	.input_phone__field {
		font-size: 14px;
		height: 35px;
	}
	
	.input_phone__addon {
		height: 35px;
	}
}