.dropdown_navbar__content {
	display: inline-block;
  position: relative;
  list-style: none;
}

.dropdown_navbar__text {
	font-size: 20px;
	font-weight: 700;
	color: var(--black);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  align-items: center;
	text-decoration: none;
	font-family: var(--font-text);
	letter-spacing: 1px;
	gap: 0px 5px;
	cursor: pointer;
	margin-bottom: 0px;
	transition: margin-bottom 0.3s ease-in-out, color 0.3s ease-in-out;
	position: relative;
}

.dropdown_navbar__text::after {
	content: '';
	width: 0;
	height: 2px;
	left: 50%; 
	bottom: -5px;
	background-color: var(--primary);
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
	transform: translateX(-50%);
}

.dropdown_navbar__subitem {
	list-style: none;
	position: relative;
}

.dropdown_navbar__subitem .dropdown_navbar__text {
	font-size: 18px;
	font-weight: 700;
}

.dropdown_navbar__content:hover > .dropdown_navbar__text,
.dropdown_navbar__content.active > .dropdown_navbar__text,
.dropdown_navbar__content:global(.active) > .dropdown_navbar__text {
	color: var(--black);
}

.dropdown_navbar__content:hover > .dropdown_navbar__text::after,
.dropdown_navbar__content.active > .dropdown_navbar__text::after,
.dropdown_navbar__content:global(.active) > .dropdown_navbar__text::after {
	width: 100%;
	opacity: 1;
	visibility: visible;
}

.dropdown_navbar__subitem:hover > .dropdown_navbar__text::after,
.dropdown_navbar__subitem.active > .dropdown_navbar__text::after,
.dropdown_navbar__subitem:global(.active) > .dropdown_navbar__text::after {
	width: 100%;
	opacity: 1;
	visibility: visible;
}

.dropdown_navbar__subitems {
	top: 115%;
	width: auto;
	max-width: 330px;
	height: auto;
	background-color: transparent;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
}

.dropdown_navbar__subitems.left {
	left: 0px;
	right: inherit;
}

.dropdown_navbar__subitems.right {
	left: inherit;
	right: 0px;
}

.dropdown_navbar__subitems___submenu {
	top: 0px;
	left: 100%;
}

.dropdown_navbar__subitems.left  .dropdown_navbar__subitems___submenu{
	left: 100%;
	right: inherit;
}

.dropdown_navbar__subitems.right .dropdown_navbar__subitems___submenu {
	left: inherit;
	right: 100%;
}

.dropdown_navbar__items {
	top: 0px;
	width: auto;
	min-width: 330px;
	max-width: 330px;
	height: auto;
	background-color: var(--white);
	position: relative;
	margin-top: 15px;
	transition: height 0.5s ease-in-out, margin-top 0.5s ease-in-out;
	padding: 25px 25px;
	border-radius: 0px 0px 20px 20px;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
}

.dropdown_navbar__subitems___submenu .dropdown_navbar__items {
	min-width: 250px;
	max-width: 250px;
	margin-top: 0px;
	margin-left: 25px;
	padding: 10px 25px;
	border-radius: 0px 20px 20px 0px;
}

.dropdown_navbar__subitems.right .dropdown_navbar__subitems___submenu .dropdown_navbar__items {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 25px;
	border-radius: 20px 0px 0px 20px;
}

.dropdown_navbar__subitem:last-child .dropdown_navbar__subitems___submenu .dropdown_navbar__items {
	border-radius: 0px 20px 20px 20px;
}

.dropdown_navbar__subitems.right .dropdown_navbar__subitem:last-child .dropdown_navbar__subitems___submenu .dropdown_navbar__items {
	border-radius: 20px 0px 20px 20px;
}

/* width */
.dropdown_navbar__items::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.dropdown_navbar__items::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.dropdown_navbar__items::-webkit-scrollbar-thumb {
  background: #888;
	border-radius: 5px;
}

/* Handle on hover */
.dropdown_navbar__items::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dropdown_navbar__content:hover > .dropdown_navbar__subitems,
.dropdown_navbar__content.active > .dropdown_navbar__subitems,
.dropdown_navbar__content:global(.active) > .dropdown_navbar__subitems,
.dropdown_navbar__subitem:hover > .dropdown_navbar__subitems,
.dropdown_navbar__subitem.active > .dropdown_navbar__subitems,
.dropdown_navbar__subitem:global(.active) > .dropdown_navbar__subitems {
	opacity: 1;
	visibility: visible;
}

.dropdown_navbar__content:hover > .dropdown_navbar__subitems > .dropdown_navbar__items,
.dropdown_navbar__content.active > .dropdown_navbar__subitems > .dropdown_navbar__items,
.dropdown_navbar__content:global(.active) > .dropdown_navbar__subitems > .dropdown_navbar__items {
	margin-top: 25px;
}

.dropdown_navbar__subitem:hover > .dropdown_navbar__subitems > .dropdown_navbar__items,
.dropdown_navbar__subitem.active > .dropdown_navbar__subitems > .dropdown_navbar__items,
.dropdown_navbar__subitem:global(.active) > .dropdown_navbar__subitems > .dropdown_navbar__items {
	margin-top: 0px;
}

.dropdown_navbar__items li,
.dropdown_navbar__items .dropdown_navbar__item {
	display: block;
	padding: 8px 0px;
}

.dropdown_navbar__item_link {
	font-size: 18px;
	font-weight: 700;
	display: inline-block;
	text-decoration: none;
	font-family: var(--font-text);
	color: var(--black);
	letter-spacing: 0.5px;
	text-decoration: none;
	text-decoration-color: var(--primary);
	position: relative;
	padding-left: 15px;
}

.dropdown_navbar__item_link::before {
	content: '';
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: var(--black);
	top: 7px;
	left: 0px;
	display: inline-block;
	position: absolute;
}

.dropdown_navbar__item_link::after {
	content: '';
	width: 0;
	height: 2px;
  left: 50%;
	bottom: -5px;
	background-color: var(--primary);
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transition: width 0.5s ease-in-out, opacity 0.8s ease-in-out, visibility 0.5s ease-in-out;
  transform: translateX(-50%);
}

.dropdown_navbar__item_link:hover::after,
.dropdown_navbar__item_link.active::after,
.dropdown_navbar__item_link:global(.active)::after {
	width: 100%;
  opacity: 1;
	visibility: visible;
}

.dropdown_navbar__subitem .dropdown_navbar__text {
	font-size: 18px;
	font-weight: 700;
	display: inline-block;
	text-decoration: none;
	font-family: var(--font-text);
	color: var(--black);
	letter-spacing: 0.5px;
	text-decoration: none;
	text-decoration-color: var(--primary);
	position: relative;
	padding-left: 15px;
}

.dropdown_navbar__subitem .dropdown_navbar__text::before {
	content: '';
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: var(--black);
	top: 7px;
	left: 0px;
	display: inline-block;
	position: absolute;
}

.dropdown_navbar__subitem .dropdown_navbar__text::after {
	content: '';
	width: 0;
	height: 2px;
  left: 50%;
	bottom: -5px;
	background-color: var(--primary);
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transition: width 0.5s ease-in-out, opacity 0.8s ease-in-out, visibility 0.5s ease-in-out;
  transform: translateX(-50%);
}

.dropdown_navbar__subitem .dropdown_navbar__text:hover::after {
	width: 100%;
  opacity: 1;
	visibility: visible;
}

.dropdown_navbar__content .dropdown_navbar__text svg,
.dropdown_navbar__content .dropdown_navbar__text svg > g > path,
.dropdown_navbar__content .dropdown_navbar__text svg > path,
.dropdown_navbar__content .dropdown_navbar__text svg > rect {
	pointer-events: none;
}

.dropdown_navbar__content:hover svg > g > path,
.dropdown_navbar__content:hover svg > path,
.dropdown_navbar__content:hover svg > rect,
.dropdown_navbar__content.active svg > g > path,
.dropdown_navbar__content.active svg > path,
.dropdown_navbar__content.active svg > rect,
.dropdown_navbar__content:global(.active) svg > g > path,
.dropdown_navbar__content:global(.active) svg > path,
.dropdown_navbar__content:global(.active) svg > rect  {
	fill: var(--black);
}

/* --- responsive --- */

@media screen and (max-width: 1200px) {
	.dropdown_navbar__text {
		font-size: 15px;
	}

	.dropdown_navbar__subitems {
		top: 120%;
		width: auto;
		max-width: 300px;
		height: auto;
		right: 0px;
		background-color: transparent;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
	}
	
	.dropdown_navbar__subitems___submenu {
		top: 0px;
		left: 100%;
	}
		
	.dropdown_navbar__items {
		top: 0px;
		width: auto;
		min-width: 300px;
		max-width: 300px;
		height: auto;
		background-color: var(--white);
		position: relative;
		margin-top: 15px;
		transition: height 0.5s ease-in-out, margin-top 0.5s ease-in-out;
		padding: 25px 25px;
		border-radius: 0px 0px 20px 20px;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
	}
	
	.dropdown_navbar__subitems___submenu .dropdown_navbar__items {
		min-width: 220px;
		max-width: 220px;
		margin-top: 0px;
		margin-left: 25px;
		padding: 10px 25px;
		border-radius: 0px 20px 20px 0px;
	}

	.dropdown_navbar__subitem .dropdown_navbar__text {
		font-size: 15px;
	}

	.dropdown_navbar__item_link {
		font-size: 15px;
	}
}

@media screen and (max-width: 990px) {
	.dropdown_navbar__content {
		width: 100%;
		height: auto;
	}
	
	.dropdown_navbar__content.active > .dropdown_navbar__text,
	.dropdown_navbar__subitem.active > .dropdown_navbar__text,
	.dropdown_navbar__content:global(.active) > .dropdown_navbar__text,
	.dropdown_navbar__subitem:global(.active) > .dropdown_navbar__text {
		margin-bottom: 15px;
	}

	.dropdown_navbar__subitems {
		top: 0px;
		width: auto;
		max-width: 100%;
		height: auto;
		left: 0px;
		right: inherit;
		background-color: transparent;
		opacity: 1;
		visibility: visible;
		position: relative;
		overflow: hidden;
	}
	
	.dropdown_navbar__subitem {
		display: block;
		padding: 5px 10px;
		text-align: center;
	}

	.dropdown_navbar__items {
		top: 0px;
		width: 100%;
		min-width: 100px;
		max-width: 100%;
		height: auto;
		max-height: 0;
		background-color: var(--white);
		position: relative;
		transition: max-height 0.5s ease-in-out, height 0.5s ease-in-out;
		overflow: hidden;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.02);
		opacity: 1;
		visibility: visible;
		padding: 0px;
		margin-top: 0px;
		border-radius: 0px;
	}
	
	.dropdown_navbar__subitems___submenu {
		top: 0px;
		left: 0px;
	}

	.dropdown_navbar__subitems.left .dropdown_navbar__subitems___submenu {
		left: 0px;
		right: inherit;
	}

	.dropdown_navbar__subitems.right .dropdown_navbar__subitems___submenu {
		left: 0px;
		right: inherit;
	}

	.dropdown_navbar__subitems___submenu .dropdown_navbar__items,
	.dropdown_navbar__subitems.right .dropdown_navbar__subitems___submenu .dropdown_navbar__items {
		width: 100%;
		min-width: 100px;
    max-width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px 25px;
    border-radius: 0px 0px 0px 0px;
		background-color: var(--gray-light);
		max-height: 0;
		overflow: hidden;
	}

	.dropdown_navbar__subitem:last-child .dropdown_navbar__subitems___submenu .dropdown_navbar__items {
		border-radius: 0px;
	}
	
	.dropdown_navbar__subitems.right .dropdown_navbar__subitem:last-child .dropdown_navbar__subitems___submenu .dropdown_navbar__items {
		border-radius: 0px;
	}

	.dropdown_navbar__content:hover .dropdown_navbar__subitems > .dropdown_navbar__items,
	.dropdown_navbar__subitem:hover .dropdown_navbar__subitems > .dropdown_navbar__items {
		max-height: 0;
		overflow: hidden;
		margin-top: 0px;
	}
	
	.dropdown_navbar__content.active > .dropdown_navbar__subitems > .dropdown_navbar__items,
	.dropdown_navbar__subitem.active > .dropdown_navbar__subitems > .dropdown_navbar__items,
	.dropdown_navbar__content:global(.active) > .dropdown_navbar__subitems > .dropdown_navbar__items,
	.dropdown_navbar__subitem:global(.active) > .dropdown_navbar__subitems > .dropdown_navbar__items {
		max-height: calc(100vh - 80px) !important;
		overflow-y: auto !important;
		margin-top: 0px;
	}

	.dropdown_navbar__subitem.active > .dropdown_navbar__subitems > .dropdown_navbar__items,
	.dropdown_navbar__subitem:global(.active) > .dropdown_navbar__subitems > .dropdown_navbar__items {
		padding: 10px 0px 15px;
	}

	.dropdown_navbar__items li,
	.dropdown_navbar__items .dropdown_navbar__item {
		display: block;
		padding: 8px 15px;
		text-align: center;
	}
	
}