.input {
	width: 100%;
	max-width: 100%;
	height: 45px;
	position: relative;
	font-family: var(--font-text);
	font-size: 15px;
	font-weight: 400;
	color: var(--gray-init);
	border-radius: 10px;
	background: var(--secondary);
	padding: 5px 20px;
	outline: none;
	transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	display: block;
}

.input::placeholder {
	color: var(--gray-silver-chalice);
}

.input:hover,
.input:focus,
.input:active {
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.input_label {
	font-family: var(--font-text);
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
	color: var(--gray-dark);
	padding: 0px 8px;
	display: inline-block;
}

.input_label + .input {
	margin-top: 5px;
}

/* ---- Size Input ---- */

.input.sm {
	width: 100%;
	max-width: 240px;
}

.input.md {
	width: 100%;
	max-width: 400px;
}

.input.lg {
	width: 100%;
	max-width: 600px;
}

.input.xl {
	width: 100%;
	max-width: 800px;
}

.input.auto {
	width: 100%;
	max-width: 100%;
}

/* ---- responsive ---- */

@media screen and (max-width: 990px) {
	.input_label {
		font-size: 14px;
	}

	.input {
		font-size: 14px;
		height: 35px;
	}
}