.input_phone_picker {
	width: 100%;
	max-width: 100%;
	height: auto;
	position: relative;
	border-radius: 10px;
	background: var(--white);
	transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	display: flex;
}

.input_phone_picker:hover,
.input_phone_picker:focus,
.input_phone_picker:focus-within,
.input_phone_picker:active {
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	background: var(--white) !important;
}

.input_phone_picker__label {
	font-family: var(--font-text);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
	color: var(--gray-dark);
	padding: 0px 8px;
	display: inline-block;
}

.input_phone_picker__label + .input_phone_picker {
	margin-top: 5px;
}

.input_phone_picker__field {
	width: 100%;
	max-width: 100%;
	height: 45px;
	position: relative;
	font-family: var(--font-text);
	font-size: 15px;
	font-weight: 400;
	color: var(--gray-init);
	border-radius: 10px;
	background: transparent;
	padding: 5px 20px;
	outline: none;
	transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	display: table-cell;
	order: 2;
}

.input_phone_picker__field::placeholder {
	color: var(--gray);
}

.input_phone_picker__addon {
	display: flex;
	justify-content: center;
	align-items: center;
	border-collapse: separate;
	position: relative;
	top: 0px;
	float: left;
	left: 0px;
	padding: 6px 12px;
	height: 45px;
	font-family: var(--font-text);
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: var(--black);
	text-align: center;
	background-color: rgba(0,0,0,.02);
	white-space: nowrap;
	vertical-align: middle;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	cursor: pointer;
	transition: all 500ms ease-in-out;
}

.input_phone_picker__addon___special {
	border-right: 2px solid var(--secondary);
}

.input_phone_picker__addon:hover {
	background-color: rgba(0,0,0,.05);
}

.input_phone_picker__flag {
	width: 18px;
	height: 18px;
	background: #dbdbdb;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	border-radius: 5px;
	position: relative;
	margin-right: 15px;
}

.input_phone_picker__flag::after {
	content: '';
	top: 50%;
	right: -10px;
	vertical-align: middle;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 4px solid var(--black);
	position: absolute;
	transform: translateY(-50%);
	transition: all 300ms ease-in-out;
}

.input_phone_picker__flag___item {
	margin-right: 10px;
}

.input_phone_picker__flag___item::after {
	display: none;
}

.input_phone_picker__flag___active::after {
	transform: rotate(180deg);
}

.input_phone_picker__items {
	width: 100%;
	height: auto;
	position: absolute;
	top: 100%;
	left: 0px;
	text-align: left;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	overflow: hidden;
}

.input_phone_picker__options {
	list-style: none;
	width: 100%;
	height: auto;
	position: relative;
	margin: 0;
	padding: 0;
	font-family: var(--font-text);
	font-size: 14px;
	font-weight: 400;
	color: var(--black);
	background: var(--white);
	border-top: 0px;
	max-height: 300px;
	overflow: hidden;
	overflow-y: scroll;
	z-index: 1000;
}

.input_phone_picker__option {
	padding: 0.5em;
	cursor: pointer;
	transition: all 300ms ease-in-out;
}

.input_phone_picker__option:hover,
.input_phone_picker__option___active {
	background-color: rgba(0, 0, 0, 0.05);
}

.input_phone_picker__option___id {
	color: #999;
}

/* ---- Size Input ---- */

.input_phone_picker.sm {
	width: 100%;
	max-width: 240px;
}

.input_phone_picker.md {
	width: 100%;
	max-width: 400px;
}

.input_phone_picker.lg {
	width: 100%;
	max-width: 600px;
}

.input_phone_picker.xl {
	width: 100%;
	max-width: 800px;
}

.input_phone_picker.auto {
	width: 100%;
	max-width: 100%;
}

/* ---- responsive ---- */

@media screen and (max-width: 990px) {
	.input_phone_picker__label {
		font-size: 14px;
	}

	.input_phone_picker__field {
		font-size: 14px;
		height: 35px;
	}
	
	.input_phone_picker__addon {
		height: 35px;
	}
}