.network-item-dashboard {
  width: auto;
  max-width: 100%;
  height: auto;
  position: relative;
  background: var(--white);
  border: 2px solid var(--gray);
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 5px 10px;
  padding: 8px 20px;
}

.network-item-dashboard:hover,
.network-item-dashboard.active  {
  background: var(--gradient-network);
}

.network-item-dashboard__icon {
  position: relative;
}

.network-item-dashboard__text {
  max-width: 100%;
  font-family: var(--font-text);
  font-size: 14px;
  color: var(--dark);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  transition: color 0.2s ease-in-out;
  position: relative;
}

.network-item-dashboard:hover .network-item-dashboard__text,
.network-item-dashboard.active .network-item-dashboard__text {
 color: var(--white);
}

.network-item-dashboard__icon svg {
	margin-right: 5px;
}

.network-item-dashboard__icon svg > g > path,
.network-item-dashboard__icon svg > path,
.network-item-dashboard__icon svg > rect {
	transition: fill 0.3s ease-in-out;
}

.network-item-dashboard:hover .network-item-dashboard__icon svg > g > path,
.network-item-dashboard:hover .network-item-dashboard__icon svg > path,
.network-item-dashboard:hover .network-item-dashboard__icon svg > rect  {
	fill: var(--white);
}

/* ---- Size Network ---- */

.network-item-dashboard.sm {
  width: 100%;
  max-width: 200px;
}

.network-item-dashboard.md {
  width: 100%;
  max-width: 400px;
}

.network-item-dashboard.lg {
  width: 100%;
  max-width: 600px;
}

.network-item-dashboard.xl {
  width: 100%;
  max-width: 800px;
}

.network-item-dashboard.auto {
  width: 100%;
  max-width: 100%;
}