.like-item {
  width: 100%;
  max-width: 30%;
  height: auto;
  position: relative;
  padding: 30px;
}


/* ---- responsive ---- */

@media screen and (max-width: 1200px) {
  .like-item {
    max-width: 33.33%;
  }
}

@media screen and (max-width: 990px) {
  .like-item {
    max-width: 50%;
    padding: 20px;
  }
}

@media screen and (max-width: 765px) {
  .like-item {
    max-width: 400px;
    padding: 20px;
  }  
}

@media screen and (max-width: 475px) {
  .like-item {
    max-width: 100%;
  }
}