.header {
  width: auto;
  max-width: 100%;
  height: auto;
  position: relative;
  display: table;
}

.header.left {
  margin-right: auto;
  text-align: left;
}

.header.center {
  margin: 0 auto;
  text-align: center;
}

.header.right {
  margin-left: auto;
  text-align: right;
}

.header__title {
  width: auto;
  max-width: 100%;
  height: auto;
  font-family: var(--font-title);
  font-size: 48px;
  font-weight: 700;
  color: var(--black);
  line-height: 1.2;
  letter-spacing: -2px;
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
}

.header__title img {
  width: auto;
  max-width: 60px;
  height: auto;
  object-fit: cover;
  position: relative;
  margin-right: 20px;
}

.header__paragraph {
  font-family: var(--font-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
  position: relative;
  display: block;
}

/* ---- responsive ---- */

@media screen and (max-width: 1440px) {
  .header__title {
    font-size: 40px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .header__title {
    font-size: 33px;
    margin-bottom: 15px;
  }
  
  .header__title img {
    max-width: 50px;
  }
  
  .header__paragraph {
    font-size: 14px;
  }
}

@media screen and (max-width: 765px) {
  .header__title {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .header__title img {
    max-width: 40px;
  }
  
  .header__paragraph {
    font-size: 14px;
  }
}